7. Productos a inventariar_AAR/WS_MM_PRODUCTO_INVENTARIAR/input_WS_MM_PRODUCTO_INVENTARIAR.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.example.org" xmlns:n0="http://www.example.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org">
            <xsd:element name="ElementInput">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="Zcode" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="AnioFiscal" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="Tienda" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ElementOutput">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="0" name="dt_response" type="n0:dt_response"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="dt_response">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="error" type="n0:error"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="TiendaItem" type="n0:TiendaItem"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="error">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="code" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="message" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TiendaItem">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="DocumentoInventario" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Tienda" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="AnioFiscal" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Almacen" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="FechaDocumento" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="FechaRecuentoPlanificado" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="DocumentoInventarioMateriales" type="n0:DocumentoInventarioMateriales"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DocumentoInventarioMateriales">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="DocumentoInventarioMaterialPosicion" type="n0:DocumentoInventarioMaterialPosicion"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DocumentoInventarioMaterialPosicion">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Producto" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BodyInput">
    <wsdl:part name="parameters" element="n0:ElementInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BodyOutput">
    <wsdl:part name="parameters" element="n0:ElementOutput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WS_MM_PRODUCTO_INVENTARIAR">
    <wsdl:operation name="WS_MM_PRODUCTO_INVENTARIAR">
      <wsdl:input message="n0:BodyInput">
    </wsdl:input>
      <wsdl:output message="n0:BodyOutput">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_MM_PRODUCTO_INVENTARIARSOAP" type="n0:WS_MM_PRODUCTO_INVENTARIAR">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
            <wsp:PolicyReference URI="#BN__binding"/>
        </wsp:Policy>
    <wsdl:operation name="WS_MM_PRODUCTO_INVENTARIAR">
      <soap:operation soapAction="http://www.example.orgAvisoEntradaSapDTO"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_MM_PRODUCTO_INVENTARIAR">
    <wsdl:port name="WS_MM_PRODUCTO_INVENTARIARSOAP" binding="n0:WS_MM_PRODUCTO_INVENTARIARSOAP">
      <soap:address location="https://l250326-iflmap.hcisbp.us3.hana.ondemand.com:443/cxf/producto_a_inventariar"/>
    </wsdl:port>
  </wsdl:service>
    <wsp:UsingPolicy required="true" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
    <wsp:Policy wsu:Id="BN__binding" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken>
                                    <wsp:Policy>
                                        <wsp:ExactlyOne>
                                            <sp:HttpBasicAuthentication/>
                                            <sp:RequireClientCertificate/>
                                        </wsp:ExactlyOne>
                                    </wsp:Policy>
                                </sp:HttpsToken>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <wsp:ExactlyOne>
                                    <sp:Basic256/>
                                    <sp:Basic192/>
                                    <sp:Basic128/>
                                    <sp:TripleDes/>
                                    <sp:Basic256Rsa15/>
                                    <sp:Basic192Rsa15/>
                                    <sp:Basic128Rsa15/>
                                    <sp:TripleDesRsa15/>
                                    <sp:Basic256Sha256/>
                                    <sp:Basic192Sha256/>
                                    <sp:Basic128Sha256/>
                                    <sp:TripleDesSha256/>
                                    <sp:Basic256Sha256Rsa15/>
                                    <sp:Basic192Sha256Rsa15/>
                                    <sp:Basic128Sha256Rsa15/>
                                    <sp:TripleDesSha256Rsa15/>
                                </wsp:ExactlyOne>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</wsdl:definitions>
