16. Conf resurtido franquicia_AAR/SOAP POS to S4hana Resurtido Franquicia/SI_ResurtidoFranquicia_POS_to_S4.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://freiche.com/S4/ResurtidoFranquicia" xmlns:p1="http://freiche.com/S4/ResurtidoFranquicia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://freiche.com/S4/ResurtidoFranquicia" xmlns="http://freiche.com/S4/ResurtidoFranquicia" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="MT_Resp" type="dt_response"/>
            <xsd:element name="MT_Rqst" type="dt_request"/>
            <xsd:complexType name="dt_response">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="error">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element minOccurs="0" name="code" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="message" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="A_Resurtido">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="0" name="PropuestaResurtido" type="xsd:string"/>
                                <!--  <xsd:element type="xsd:string" name="Tipo" minOccurs="0" maxOccurs="1"/> -->
                                <xsd:element maxOccurs="1" minOccurs="0" name="Posicion" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="PtoVta" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="Producto" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="Cantidad" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="UMA" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="Importe" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="FEntrega" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="FCreacion" type="xsd:string"/>
                                <xsd:element maxOccurs="1" minOccurs="0" name="Producto2Juego" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="dt_request">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Zcode" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="PtoVta" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="FechaCreacionDesde" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="FechaCreacionHasta" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_Rqst">
<wsdl:documentation/>
    <wsdl:part name="MT_Rqst" element="p1:MT_Rqst">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MT_Resp">
<wsdl:documentation/>
    <wsdl:part name="MT_Resp" element="p1:MT_Resp">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SI_ResurtidoFranquicia_POS_to_S4">
<wsdl:documentation/>
    <wsdl:operation name="SI_ResurtidoFranquicia_POS_to_S4">
<wsdl:documentation/>
      <wsdl:input message="p1:MT_Rqst">
    </wsdl:input>
      <wsdl:output message="p1:MT_Resp">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_ResurtidoFranquicia_POS_to_S4Binding" type="p1:SI_ResurtidoFranquicia_POS_to_S4">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:Policy>
            <wsp:PolicyReference URI="#BN__binding"/>
        </wsp:Policy>
    <wsdl:operation name="SI_ResurtidoFranquicia_POS_to_S4">
      <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_ResurtidoFranquicia_POS_to_S4Service">
    <wsdl:port name="HTTP_Port" binding="p1:SI_ResurtidoFranquicia_POS_to_S4Binding">
      <soap:address location="https://l250326-iflmap.hcisbp.us3.hana.ondemand.com:443/cxf/POS/S4/ResurtidoFranquicia"/>
    </wsdl:port>
  </wsdl:service>
    <wsp:UsingPolicy required="true"/>
    <wsp:Policy wsu:Id="BN__binding">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken>
                                    <wsp:Policy>
                                        <wsp:ExactlyOne>
                                            <sp:HttpBasicAuthentication/>
                                            <sp:RequireClientCertificate/>
                                        </wsp:ExactlyOne>
                                    </wsp:Policy>
                                </sp:HttpsToken>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <wsp:ExactlyOne>
                                    <sp:Basic256/>
                                    <sp:Basic192/>
                                    <sp:Basic128/>
                                    <sp:TripleDes/>
                                    <sp:Basic256Rsa15/>
                                    <sp:Basic192Rsa15/>
                                    <sp:Basic128Rsa15/>
                                    <sp:TripleDesRsa15/>
                                    <sp:Basic256Sha256/>
                                    <sp:Basic192Sha256/>
                                    <sp:Basic128Sha256/>
                                    <sp:TripleDesSha256/>
                                    <sp:Basic256Sha256Rsa15/>
                                    <sp:Basic192Sha256Rsa15/>
                                    <sp:Basic128Sha256Rsa15/>
                                    <sp:TripleDesSha256Rsa15/>
                                </wsp:ExactlyOne>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</wsdl:definitions>
