29. Precios_AAR/WS_SD_PRECIOS_DE_TIENDAS_Y_FRANQUICIAS/WS_SD_PRECIOS_DE_TIENDAS_Y_FRANQUICIAS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.example.org" xmlns:n0="http://www.example.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org">
            <xsd:element name="ElementInput">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="Precios" type="n0:Precios"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ElementOutput">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="0" name="dt_response" type="n0:dt_response"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="Precios">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Zcode" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Sociedad" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="OrganizacionDeVentas" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="dt_response">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="error" type="n0:error"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PreciosHeaderSet" type="n0:PreciosHeaderSet"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="error">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="code" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="message" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PreciosHeaderSet">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="1" name="PreciosHeader" type="n0:PreciosHeader"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PreciosHeader">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Sociedad" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Orgdeventas" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Descripci贸norgvtas" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="FranquiciasItemSet" type="n0:FranquiciasItemSet"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PublicoEnGeneralItemSet" type="n0:PublicoEnGeneralItemSet"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="DistribuidorItemSet" type="n0:DistribuidorItemSet"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="FranquiciasItemSet">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="1" name="FranquiciaItem" type="n0:FranquiciaItem"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="FranquiciaItem">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Zona" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="CanalDistribuci贸n" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Descncanaldistribucion" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Material" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Listadeprecios" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Desclistadeprecios" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Umv" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Preciosiniva" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Precioconiva" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Moneda" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Iniciodevalidez" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Findevalidez" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PublicoEnGeneralItemSet">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="1" name="PublicoEnGeneralItem" type="n0:PublicoEnGeneralItem"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PublicoEnGeneralItem">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Zona" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="CanalDistribuci贸n" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Descncanaldistribucion" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Material" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Listadeprecios" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Desclistadeprecios" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Umv" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Preciosiniva" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Precioconiva" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Moneda" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Iniciodevalidez" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Findevalidez" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DistribuidorItemSet">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="1" name="DistribuidorItem" type="n0:DistribuidorItem"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DistribuidorItem">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Zona" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="CanalDistribuci贸n" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Descncanaldistribucion" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Material" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Listadeprecios" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Desclistadeprecios" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Umv" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Preciosiniva" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Precioconiva" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Moneda" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Iniciodevalidez" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Findevalidez" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BodyInput">
    <wsdl:part name="parameters" element="n0:ElementInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BodyOutput">
    <wsdl:part name="parameters" element="n0:ElementOutput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WS_SD_PRECIOS_DE_TIENDAS_Y_FRANQUICIAS">
    <wsdl:operation name="WS_SD_PRECIOS_DE_TIENDAS_Y_FRANQUICIAS">
      <wsdl:input message="n0:BodyInput">
    </wsdl:input>
      <wsdl:output message="n0:BodyOutput">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_SD_PRECIOS_DE_TIENDAS_Y_FRANQUICIASSOAP" type="n0:WS_SD_PRECIOS_DE_TIENDAS_Y_FRANQUICIAS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
            <wsp:PolicyReference URI="#BN__binding"/>
        </wsp:Policy>
    <wsdl:operation name="WS_SD_PRECIOS_DE_TIENDAS_Y_FRANQUICIAS">
      <soap:operation soapAction="http://www.example.org"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_SD_PRECIOS_DE_TIENDAS_Y_FRANQUICIAS">
    <wsdl:port name="WS_SD_PRECIOS_DE_TIENDAS_Y_FRANQUICIASSOAP" binding="n0:WS_SD_PRECIOS_DE_TIENDAS_Y_FRANQUICIASSOAP">
      <soap:address location="https://l250326-iflmap.hcisbp.us3.hana.ondemand.com:443/cxf/put_precios_de_tiendas_y_franquicias"/>
    </wsdl:port>
  </wsdl:service>
    <wsp:UsingPolicy required="true" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
    <wsp:Policy wsu:Id="BN__binding" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken>
                                    <wsp:Policy>
                                        <wsp:ExactlyOne>
                                            <sp:HttpBasicAuthentication/>
                                            <sp:RequireClientCertificate/>
                                        </wsp:ExactlyOne>
                                    </wsp:Policy>
                                </sp:HttpsToken>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <wsp:ExactlyOne>
                                    <sp:Basic256/>
                                    <sp:Basic192/>
                                    <sp:Basic128/>
                                    <sp:TripleDes/>
                                    <sp:Basic256Rsa15/>
                                    <sp:Basic192Rsa15/>
                                    <sp:Basic128Rsa15/>
                                    <sp:TripleDesRsa15/>
                                    <sp:Basic256Sha256/>
                                    <sp:Basic192Sha256/>
                                    <sp:Basic128Sha256/>
                                    <sp:TripleDesSha256/>
                                    <sp:Basic256Sha256Rsa15/>
                                    <sp:Basic192Sha256Rsa15/>
                                    <sp:Basic128Sha256Rsa15/>
                                    <sp:TripleDesSha256Rsa15/>
                                </wsp:ExactlyOne>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</wsdl:definitions>
