11. Catálogo Artículos/WS_MM_CATALOGO_ARTICULOS/WS_MM_CATALOGO_ARTICULO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.example.org" xmlns:n0="http://www.example.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org">
            <xsd:element name="ElementInput">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="Zcode" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="Sociedad" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ElementOutput">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="0" name="dt_response" type="n0:dt_response"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="dt_response">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="error" type="n0:error"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Articulos" type="n0:Articulos"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="error">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="code" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="message" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Articulos">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Articulo" type="n0:Articulo"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Articulo">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Producto" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="DescripcionProducto" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="UnidadMedida" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CreadoEl" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="UnidadMedidaAlterna" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="DescripcionUnidadAlterna" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Equivalencia" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="EquivalenciaBas" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Generico" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ProductoSAT" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="DescripcionSAT" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ClaveSAT" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="NombreUnidadSAT" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Jerarquia" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Familia" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Genero" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CasaFabricante" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ClasificacionGeneral" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="FechaInicioValidez" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="FechaFinValidez" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="GrupoArticulos" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Marca" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="TipoArticulo" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="UnidadEmpaque" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ClasificacionFiscal" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ArticuloSAP" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BodyInput">
    <wsdl:part name="parameters" element="n0:ElementInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BodyOutput">
    <wsdl:part name="parameters" element="n0:ElementOutput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WS_MM_CATALOGO_ARTICULO">
    <wsdl:operation name="WS_MM_CATALOGO_ARTICULO">
      <wsdl:input message="n0:BodyInput">
    </wsdl:input>
      <wsdl:output message="n0:BodyOutput">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_MM_CATALOGO_ARTICULOSOAP" type="n0:WS_MM_CATALOGO_ARTICULO">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
            <wsp:PolicyReference URI="#BN__binding"/>
        </wsp:Policy>
    <wsdl:operation name="WS_MM_CATALOGO_ARTICULO">
      <soap:operation soapAction="http://www.example.org"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_MM_CATALOGO_ARTICULO">
    <wsdl:port name="WS_MM_CATALOGO_ARTICULOSOAP" binding="n0:WS_MM_CATALOGO_ARTICULOSOAP">
      <soap:address location="https://l250326-iflmap.hcisbp.us3.hana.ondemand.com:443/cxf/catalogo_articulo"/>
    </wsdl:port>
  </wsdl:service>
    <wsp:UsingPolicy required="true" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
    <wsp:Policy wsu:Id="BN__binding" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken>
                                    <wsp:Policy>
                                        <wsp:ExactlyOne>
                                            <sp:HttpBasicAuthentication/>
                                            <sp:RequireClientCertificate/>
                                        </wsp:ExactlyOne>
                                    </wsp:Policy>
                                </sp:HttpsToken>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <wsp:ExactlyOne>
                                    <sp:Basic256/>
                                    <sp:Basic192/>
                                    <sp:Basic128/>
                                    <sp:TripleDes/>
                                    <sp:Basic256Rsa15/>
                                    <sp:Basic192Rsa15/>
                                    <sp:Basic128Rsa15/>
                                    <sp:TripleDesRsa15/>
                                    <sp:Basic256Sha256/>
                                    <sp:Basic192Sha256/>
                                    <sp:Basic128Sha256/>
                                    <sp:TripleDesSha256/>
                                    <sp:Basic256Sha256Rsa15/>
                                    <sp:Basic192Sha256Rsa15/>
                                    <sp:Basic128Sha256Rsa15/>
                                    <sp:TripleDesSha256Rsa15/>
                                </wsp:ExactlyOne>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</wsdl:definitions>
