24. Presupuesto por punto de venta_AAR/WS_PP_PRESUPUESTO_POR_PUNTO_DE_VENTA/WS_PP_PRESUPUESTO_POR_PUNTO_DE_VENTA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="https://fraiche-subcta.it-cpi003-rt.cfapps.us10.hana.ondemand.com/cxf/put_presupuesto_por_punto_de_venta" xmlns:n0="https://fraiche-subcta.it-cpi003-rt.cfapps.us10.hana.ondemand.com/cxf/put_presupuesto_por_punto_de_venta" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://fraiche-subcta.it-cpi003-rt.cfapps.us10.hana.ondemand.com/cxf/put_presupuesto_por_punto_de_venta">
            <xsd:element name="ElementInput">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="PptoptVta" type="n0:PresupuestoPorPuntoDeVenta"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ElementOutput">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="0" name="PptoptVtaSet" type="n0:OutputPresupuestoPorPuntoDeVenta"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="PresupuestoPorPuntoDeVenta">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Zcode" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Tienda" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Ejercicio" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OutputPresupuestoPorPuntoDeVenta">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="1" name="PptoptVta" type="n0:PptoptVta"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PptoptVta">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Tienda" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Ejercicio" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Mes" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Monto" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Moneda" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Version" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BodyOutput">
    <wsdl:part name="parameters" element="n0:ElementOutput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BodyInput">
    <wsdl:part name="parameters" element="n0:ElementInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WS_PP_PRESUPUESTO_POR_PUNTO_DE_VENTA">
    <wsdl:operation name="WS_PP_PRESUPUESTO_POR_PUNTO_DE_VENTA">
      <wsdl:input message="n0:BodyInput">
    </wsdl:input>
      <wsdl:output message="n0:BodyOutput">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_PP_PRESUPUESTO_POR_PUNTO_DE_VENTA" type="n0:WS_PP_PRESUPUESTO_POR_PUNTO_DE_VENTA">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:Policy>
            <wsp:PolicyReference URI="#BN__binding"/>
        </wsp:Policy>
    <wsdl:operation name="WS_PP_PRESUPUESTO_POR_PUNTO_DE_VENTA">
      <soap:operation soapAction="https://fraiche-subcta.it-cpi003-rt.cfapps.us10.hana.ondemand.com/cxf/put_presupuesto_por_punto_de_venta"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_PP_PRESUPUESTO_POR_PUNTO_DE_VENTA">
    <wsdl:port name="WS_PP_PRESUPUESTO_POR_PUNTO_DE_VENTA" binding="n0:WS_PP_PRESUPUESTO_POR_PUNTO_DE_VENTA">
      <soap:address location="https://l250326-iflmap.hcisbp.us3.hana.ondemand.com:443/cxf/put_presupuesto_por_punto_de_venta"/>
    </wsdl:port>
  </wsdl:service>
    <wsp:UsingPolicy required="true"/>
    <wsp:Policy wsu:Id="BN__binding">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken>
                                    <wsp:Policy>
                                        <wsp:ExactlyOne>
                                            <sp:HttpBasicAuthentication/>
                                            <sp:RequireClientCertificate/>
                                        </wsp:ExactlyOne>
                                    </wsp:Policy>
                                </sp:HttpsToken>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <wsp:ExactlyOne>
                                    <sp:Basic256/>
                                    <sp:Basic192/>
                                    <sp:Basic128/>
                                    <sp:TripleDes/>
                                    <sp:Basic256Rsa15/>
                                    <sp:Basic192Rsa15/>
                                    <sp:Basic128Rsa15/>
                                    <sp:TripleDesRsa15/>
                                    <sp:Basic256Sha256/>
                                    <sp:Basic192Sha256/>
                                    <sp:Basic128Sha256/>
                                    <sp:TripleDesSha256/>
                                    <sp:Basic256Sha256Rsa15/>
                                    <sp:Basic192Sha256Rsa15/>
                                    <sp:Basic128Sha256Rsa15/>
                                    <sp:TripleDesSha256Rsa15/>
                                </wsp:ExactlyOne>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</wsdl:definitions>
